<main class="categoryId" data-categoryid="<%= categoryId %>">
    <!-- CATEGORIES PRODUCTS -->
    <div class="product__container" id="product_box">
        <div class="container">
            <div class="product__box">
                <div class="product__main">
                    <h2 class="feature__title category_name">Electronics</h2>
                    <div class="product__menu category_Products">
                        <!-- RENDER PROODUCTS HERE.. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__container" id="product_box">
        <div class="container">
            <div class="product__box">
                <div class="product__main">
                    <h2 class="feature__title">You may also Like:</h2>
                    <div class="product__menu other_products">
                        <!-- RENDER PROODUCTS HERE.. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OTHER PRODUCTS -->
</main>