<main>
    <!-- MOVING BANNER -->
    <div class="main__carousel container" id="home">
        <div class="main__slider has-scrollbar">
            <!-- <div class="slider__item">
                <img class="slider__img" src="assets/media/BG/banner-1.jpg" alt="" />
                <div class="slider__content">
                    <p class="slider__content-top">Trending Items</p>
                    <h2 class="slider__content-title">Women's latest fashion sale</h2>
                    <p class="slider__content-text">
                        starting at ₹ <b style="font-size: 1.8rem">299</b>.00
                    </p>
                    <button class="slider__content-btn">SHOP NOW</button>
                </div>
            </div> -->
        </div>
    </div>
    <!-- ALL CATEGORIES -->
    <div class="category" id="categories">
        <div class="container">
            <h2 class="feature__title">Categories</h2>
            <div class="category__container has-scrollbar">
                <!-- <div class="category__item">
                    <div class="category__img-box">
                        <img class="cat-img" src="assets/images/products/dress.svg" width="30" alt="" />
                    </div>
                    <div class="category__content-box">
                        <div class="cat_content">
                            <p class="cat_content-text">dress & frock</p>
                            <p class="cat_content-stock">(53)</p>
                        </div>
                        <a href="" class="cat-btn">Show All</a>
                    </div>
                </div> -->
                <!-- INSERT CATEGORIES HERE AS ABOVE SYNTAX... -->
            </div>
        </div>
    </div>
    <!-- PRODUCT SECTION -->
    <div class="product__container" id="product_box">
        <div class="container">
            <div class="product__box">
                <div class="product__main">
                    <h2 class="feature__title">Products</h2>
                    <div class="header__main-input" style="margin-bottom: 10px;">
                        <input type="text" class="header__search-field product_search-field"
                            placeholder="Search for Products..." />
                        <button class="header__search-btn">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                    </div>
                    <div class="product__menu">
                        <!-- RENDER PROODUCTS HERE.. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>