<main>
    <div class="product__container" id="product_box">
        <div class="container">
            <div class="product__box">
                <div class="product__main">
                    <h2 class="feature__title">Products</h2>
                    <div class="product__menu searched">
                        <!-- RENDER PROODUCTS HERE.. -->
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="product__container" id="product_box">
        <div class="container">
            <div class="product__box">
                <div class="product__main">
                    <h2 class="feature__title">Suggested Products</h2>
                    <div class="product__menu Suggested">
                        <!-- RENDER PROODUCTS HERE.. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>